<input type="hidden" name="destinos_json" id="id-destinos-json-d">
<input type="hidden" name="destino_uf" value="{{ form.destino_uf.value|default:'' }}" data-location-state-output>
<input type="hidden" name="destino_cidade" value="{{ form.destino_cidade.value|default:'' }}" data-location-city-output>
{% if evento.destinos_extras %}
  <c-travel.destination_row destino_index="0" :has_destino_index="True" :row_ordinal="1" :remove_hidden="True" :location_legacy_event="True" :location_state_code="form.destino_uf.value" :location_city_value="form.destino_cidade.value" :show_row_add="True" :hide_order_badge="True" state_select_template="components/travel/destinations/state_select.html" city_select_template="components/travel/destinations/city_select.html" />
  {% for destino in evento.destinos_extras %}
    {% with cotton_attr_row_ordinal=forloop.counter|add:1 %}<c-travel.destination_row :destino_index="forloop.counter" :has_destino_index="True" :row_ordinal="cotton_attr_row_ordinal" :location_legacy_event="True" :location_state_code="destino.uf" :location_city_value="destino.cidade" :show_row_add="True" :hide_order_badge="True" state_select_template="components/travel/destinations/state_select.html" city_select_template="components/travel/destinations/city_select.html" />{% endwith %}
  {% endfor %}
{% else %}
  <c-travel.destination_row destino_index="0" :has_destino_index="True" :row_ordinal="1" :remove_hidden="True" :row_single="True" :location_legacy_event="True" :location_state_code="form.destino_uf.value" :location_city_value="form.destino_cidade.value" :show_row_add="True" :hide_order_badge="True" state_select_template="components/travel/destinations/state_select.html" city_select_template="components/travel/destinations/city_select.html" />
{% endif %}
