<input type="hidden" name="destinos_json" id="id-destinos-json">
<input type="hidden" name="destino_uf" value="{{ form.destino_uf.value|default:'' }}" data-location-state-output>
<input type="hidden" name="destino_cidade" value="{{ form.destino_cidade.value|default:'' }}" data-location-city-output>
<c-travel.destination_row destino_index="0" :has_destino_index="True" :row_ordinal="1" :remove_hidden="True" :location_legacy_event="True" :location_state_code="form.destino_uf.value" :location_city_value="form.destino_cidade.value" state_select_template="components/travel/destinations/state_select.html" city_select_template="components/travel/destinations/city_select.html" />
