<input type="hidden" name="destinos_json" id="id-destinos-json-d">
<input type="hidden" name="destino_uf" value="{{ form.destino_uf.value|default:'' }}" data-location-state-output>
<input type="hidden" name="destino_cidade" value="{{ form.destino_cidade.value|default:'' }}" data-location-city-output>
{% if evento.destinos_extras %}
  {% include "components/travel/destination_row.html" with destino_index="0" has_destino_index=True row_ordinal=1 remove_hidden=True location_legacy_event=True location_state_code=form.destino_uf.value location_city_value=form.destino_cidade.value show_row_add=True hide_order_badge=True state_select_template="components/travel/destinations/state_select.html" city_select_template="components/travel/destinations/city_select.html" %}
  {% for destino in evento.destinos_extras %}
    {% include "components/travel/destination_row.html" with destino_index=forloop.counter has_destino_index=True row_ordinal=forloop.counter|add:1 location_legacy_event=True location_state_code=destino.uf location_city_value=destino.cidade show_row_add=True hide_order_badge=True state_select_template="components/travel/destinations/state_select.html" city_select_template="components/travel/destinations/city_select.html" %}
  {% endfor %}
{% else %}
  {% include "components/travel/destination_row.html" with destino_index="0" has_destino_index=True row_ordinal=1 remove_hidden=True row_single=True location_legacy_event=True location_state_code=form.destino_uf.value location_city_value=form.destino_cidade.value show_row_add=True hide_order_badge=True state_select_template="components/travel/destinations/state_select.html" city_select_template="components/travel/destinations/city_select.html" %}
{% endif %}
