<section class="oficio-documentos-admin-facts" aria-label="Dados administrativos">
  <div class="oficio-documentos-card__body">
    <dl class="oficio-documentos-facts oficio-documentos-facts--admin">
      <div class="oficio-documentos-fact">
        <dt>Número do ofício</dt>
        <dd>{{ documentos_ctx.detalhe.numero_formatado }}</dd>
      </div>
      <div class="oficio-documentos-fact">
        <dt>Protocolo</dt>
        <dd>{{ documentos_ctx.detalhe.protocolo }}</dd>
      </div>
      <div class="oficio-documentos-fact">
        <dt>Data de criação</dt>
        <dd>{{ documentos_ctx.detalhe.data_criacao }}</dd>
      </div>
      <div class="oficio-documentos-fact">
        <dt>Custeio</dt>
        <dd>{{ documentos_ctx.detalhe.custeio }}</dd>
      </div>
    </dl>
  </div>
</section>
