{{ form.id }}
{% with trecho_id=form.id.value|default:form.instance.pk|default:'novo' %}
  <div class="route-return__legs">
    <div class="route-return__leg">
      <span class="route-return__leg-title">Saída</span>
      <div class="route-return__leg-fields">
        <c-v2.field label="Cidade de saída" label_for="diario-trecho-{{ trecho_id }}-origem" extra_class="route-return__city">
          <c-slot name="control"><input type="text" class="input__control" id="diario-trecho-{{ trecho_id }}-origem" value="{{ d.origem }}" readonly tabindex="-1" aria-readonly="true"></c-slot>
        </c-v2.field>
        <c-v2.field label="Data" label_for="diario-trecho-{{ trecho_id }}-saida-data">
          <c-slot name="control"><input type="text" class="input__control" id="diario-trecho-{{ trecho_id }}-saida-data" value="{{ d.saida.data }}" readonly tabindex="-1" aria-readonly="true"></c-slot>
        </c-v2.field>
        <c-v2.field label="Hora" label_for="diario-trecho-{{ trecho_id }}-saida-hora">
          <c-slot name="control"><input type="text" class="input__control" id="diario-trecho-{{ trecho_id }}-saida-hora" value="{{ d.saida.hora }}" readonly tabindex="-1" aria-readonly="true"></c-slot>
        </c-v2.field>
      </div>
    </div>

    <div class="route-return__leg">
      <span class="route-return__leg-title">Chegada</span>
      <div class="route-return__leg-fields">
        <c-v2.field label="Cidade de chegada" label_for="diario-trecho-{{ trecho_id }}-destino" extra_class="route-return__city">
          <c-slot name="control"><input type="text" class="input__control" id="diario-trecho-{{ trecho_id }}-destino" value="{{ d.destino }}" readonly tabindex="-1" aria-readonly="true"></c-slot>
        </c-v2.field>
        <c-v2.field label="Data" label_for="diario-trecho-{{ trecho_id }}-chegada-data">
          <c-slot name="control"><input type="text" class="input__control" id="diario-trecho-{{ trecho_id }}-chegada-data" value="{{ d.chegada.data }}" readonly tabindex="-1" aria-readonly="true"></c-slot>
        </c-v2.field>
        <c-v2.field label="Hora" label_for="diario-trecho-{{ trecho_id }}-chegada-hora">
          <c-slot name="control"><input type="text" class="input__control" id="diario-trecho-{{ trecho_id }}-chegada-hora" value="{{ d.chegada.hora }}" readonly tabindex="-1" aria-readonly="true"></c-slot>
        </c-v2.field>
      </div>
    </div>
  </div>
{% endwith %}

<div class="route-return__times">
  <c-v2.form_field :field="form.km_inicial" label="KM inicial" :input="True" only />
  <c-v2.form_field :field="form.km_final" label="KM final" :input="True" only />
  <c-v2.form_field :field="form.abastecimento" label="Abastecimento" :select="True" only />
</div>
