  {% with ps_key=servidor.ps_pk|stringformat:"s" %}
    {% with reopen_rt="prestacao-servidor-"|add:ps_key|add:"-rt" %}
      {% include "prestacoes_contas/partials/_docs_attach_card.html" with title="Relatório técnico" abbr="RT" doc=servidor.rt_assinado reopen_key=reopen_rt initial_kind="rt" empty_label=empty_label attach_kinds_json=attach_kinds_json only %}
    {% endwith %}
    {% with reopen_db="prestacao-servidor-"|add:ps_key|add:"-diario" %}
      {% include "prestacoes_contas/partials/_docs_attach_card.html" with title="Diário de bordo" abbr="DB" doc=servidor.diario_assinado reopen_key=reopen_db initial_kind="diario" empty_label=empty_label attach_kinds_json=attach_kinds_json only %}
    {% endwith %}
    {% with reopen_cp="prestacao-servidor-"|add:ps_key|add:"-comprovante" %}
      {% include "prestacoes_contas/partials/_docs_attach_card.html" with title="Comprovante de saque/transferência" abbr="CP" doc=servidor.comprovante_anexo reopen_key=reopen_cp initial_kind="comprovante" empty_label=empty_label attach_kinds_json=attach_kinds_json only %}
    {% endwith %}
  {% endwith %}
