data-attach-signed-url="{{ attach_kinds.primary.url }}"
data-attach-signed-doc-label="{{ attach_kinds.primary.doc_label }}"
data-attach-signed-current-name="{{ attach_kinds.primary.current_name }}"
data-attach-signed-current-view-url="{{ attach_kinds.primary.current_view_url }}"
data-attach-signed-current-remove-url="{{ attach_kinds.primary.current_remove_url }}"
data-attach-signed-primary-option-label="{{ attach_kinds.primary.option_label }}"
{% if attach_kinds.secondary %}
data-attach-signed-secondary-url="{{ attach_kinds.secondary.url }}"
data-attach-signed-secondary-doc-label="{{ attach_kinds.secondary.doc_label }}"
data-attach-signed-secondary-current-name="{{ attach_kinds.secondary.current_name }}"
data-attach-signed-secondary-current-view-url="{{ attach_kinds.secondary.current_view_url }}"
data-attach-signed-secondary-current-remove-url="{{ attach_kinds.secondary.current_remove_url }}"
data-attach-signed-secondary-option-label="{{ attach_kinds.secondary.option_label }}"
{% endif %}
{% if attach_kinds.tertiary %}
data-attach-signed-tertiary-url="{{ attach_kinds.tertiary.url }}"
data-attach-signed-tertiary-doc-label="{{ attach_kinds.tertiary.doc_label }}"
data-attach-signed-tertiary-current-name="{{ attach_kinds.tertiary.current_name }}"
data-attach-signed-tertiary-current-view-url="{{ attach_kinds.tertiary.current_view_url }}"
data-attach-signed-tertiary-current-remove-url="{{ attach_kinds.tertiary.current_remove_url }}"
data-attach-signed-tertiary-option-label="{{ attach_kinds.tertiary.option_label }}"
{% endif %}
{% if attach_kinds.quaternary %}
data-attach-signed-quaternary-url="{{ attach_kinds.quaternary.url }}"
data-attach-signed-quaternary-doc-label="{{ attach_kinds.quaternary.doc_label }}"
data-attach-signed-quaternary-current-name="{{ attach_kinds.quaternary.current_name }}"
data-attach-signed-quaternary-current-view-url="{{ attach_kinds.quaternary.current_view_url }}"
data-attach-signed-quaternary-current-remove-url="{{ attach_kinds.quaternary.current_remove_url }}"
data-attach-signed-quaternary-option-label="{{ attach_kinds.quaternary.option_label }}"
{% endif %}
{% if attach_kinds.quinary %}
data-attach-signed-quinary-url="{{ attach_kinds.quinary.url }}"
data-attach-signed-quinary-doc-label="{{ attach_kinds.quinary.doc_label }}"
data-attach-signed-quinary-current-name="{{ attach_kinds.quinary.current_name }}"
data-attach-signed-quinary-current-view-url="{{ attach_kinds.quinary.current_view_url }}"
data-attach-signed-quinary-current-remove-url="{{ attach_kinds.quinary.current_remove_url }}"
data-attach-signed-quinary-option-label="{{ attach_kinds.quinary.option_label }}"
{% endif %}
