{% extends "oficios/wizard_base.html" %}
{% load static %}

{% block wizard_content %}
  <div data-travel-document-wizard-justificativa>
    <c-form.card title="Justificativa" description="Texto que fundamenta a necessidade da viagem" title_id="justificativa-panel-title" extra_class="oficio-justificativa-card" body_extra_class="oficio-justificativa-body" body_template="oficios/partials/_justificativa_wizard_body.html" footer_template="oficios/partials/_justificativa_wizard_footer.html" />
  </div>
{% endblock %}

{% block extra_js %}
  {{ block.super }}
  <script src="{% static 'js/pages/oficios-justificativa-wizard.js' %}" defer></script>
{% endblock %}
