{% extends "oficios/wizard_base.html" %}
{% load static %}

{% block extra_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/leaflet/leaflet.css' %}">
  <link rel="stylesheet" href="{% static 'css/domain.css' %}">
  <link rel="stylesheet" href="{% static 'css/roteiros.css' %}">
{% endblock %}

{% block extra_js %}
  <script src="{% static 'vendor/leaflet/leaflet.js' %}"></script>
  <script src="{% static 'js/roteiros_wizard.js' %}"></script>
  <script type="module" src="{% static 'js/roteiros.js' %}"></script>
  <script src="{% static 'js/roteiros-map.js' %}"></script>
{% endblock %}

{% block wizard_content %}
  {{ initial_trechos_data|json_script:"initialTrechosData" }}
  {% include "roteiros/includes/_roteiro_editor.html" %}
{% endblock %}

