{% extends "base.html" %}
{% load static %}

{% block title %}{{ page_title }}{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/pages/prestacoes-diaria-wa.js' %}" defer></script>
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/oficios.css' %}">
  <link rel="stylesheet" href="{% static 'css/roteiros-list.css' %}">
  <link rel="stylesheet" href="{% static 'css/oficios-list-header.css' %}">
  <link rel="stylesheet" href="{% static 'css/prestacoes_contas.css' %}">
{% endblock %}

{% block content %}
  {% include "components/lists/list_page_cards.html" with title=page_title eyebrow="PRESTAÇÕES" search_placeholder="Buscar por servidor, ofício, protocolo ou solicitação…" search_aria_label="Buscar prestações" date_picker_id="pc-filter-date-picker" date_start_id="id_pc_viagem_de" date_end_id="id_pc_viagem_ate" tabs_aria_label="Abas de prestações" card_template="prestacoes_contas/partials/prestacao_list_card.html" empty_message=empty_message attach_signed_modal=True %}
{% endblock %}
