<div class="field-grid field-grid--cols-2">
  {% with area_help_id=form.area.id_for_label|add:"_helptext" area_error_id=form.area.id_for_label|add:"_error" %}
  <c-v2.field :label="form.area.label" :label_for="form.area.id_for_label" :help="form.area.help_text" :help_id="area_help_id" :error="form.area.errors.0" :error_id="area_error_id">
    <c-slot name="control"><c-v2.picker :field="form.area" /></c-slot>
  </c-v2.field>
  {% endwith %}
  <c-v2.form_field :field="form.papel" :select="True" />
</div>
