{% extends "components/page/flow_base.html" %}
{% load static %}

{% block title %}{% if object %}Editar roteiro{% else %}Novo roteiro{% endif %}{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'vendor/leaflet/leaflet.css' %}">
  <link rel="stylesheet" href="{% static 'css/domain.css' %}">
  <link rel="stylesheet" href="{% static 'css/roteiros.css' %}?v=20260803">
{% endblock %}

{% block extra_js %}
  <script src="{% static 'vendor/leaflet/leaflet.js' %}"></script>
  <script src="{% static 'js/roteiros_wizard.js' %}"></script>
  <script type="module" src="{% static 'js/roteiros.js' %}"></script>
  <script src="{% static 'js/roteiros-map.js' %}"></script>
{% endblock %}

{% block flow_header %}
  {% include "components/ui/headers/wizard_page_header.html" with eyebrow="ROTEIROS" title=wizard_header.title status_label=wizard_header.status_label status_variant=wizard_header.status_variant steps=wizard_page_steps back_label=wizard_back_label back_url=wizard_back_url only %}
{% endblock %}

{% block flow_body %}
  {{ initial_trechos_data|json_script:"initialTrechosData" }}
  {% include "roteiros/includes/_roteiro_editor.html" %}
{% endblock %}
